a {
  text-decoration: none;
  color: white; }

body {
  margin: 0; }

body::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.472); }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff; }

html {
  color: white; }

h1 {
  margin: 0; }

h2 {
  font-family: "Bowlby One", "Arial", cursive;
  font-size: 45px;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  text-shadow: -5px 5px 0px #8d8d8d, -10px 10px 0px #525252; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.div-main {
  height: 100vh;
  position: sticky;
  top: 0; }

.subwrapper {
  margin: 0 auto;
  width: 1450px; }

.wrapper {
  margin-left: 190px; }

.menu-bar {
  background-color: rgba(0, 0, 0, 0.616);
  border-right: solid 10px white;
  font-family: "Bowlby One", "Arial", cursive;
  font-size: 20px;
  height: 1462px;
  letter-spacing: 1px;
  margin: 0;
  position: fixed;
  width: 180px;
  z-index: 2; }
  .menu-bar li:first-child {
    margin-left: 30px;
    margin-top: 20px; }
  .menu-bar li + li {
    margin-top: 140px;
    transform: rotate(-90deg); }
  .menu-bar .menu-hover:hover {
    border: solid 4px white;
    box-sizing: border-box; }

.button {
  background-color: #425957;
  border: solid 3px white;
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  font-family: "Bowlby One", "Arial", cursive;
  font-size: 20px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  width: 200px; }
  .button:hover {
    background-image: url(".././img/colors.gif");
    background-size: cover; }

.contact-modal {
  background-color: rgba(0, 0, 0, 0.931);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 3; }
  .contact-modal a {
    position: fixed;
    top: 50px;
    right: 50px; }
  .contact-modal button {
    color: white;
    margin-top: 60px; }
  .contact-modal h2 {
    padding: 60px;
    padding-bottom: 0; }
  .contact-modal input {
    height: 50px;
    width: 800px; }
  .contact-modal label {
    font-family: "Bowlby One", "Arial", cursive;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px; }
  .contact-modal textarea {
    height: 50px;
    width: 800px; }
  .contact-modal label, .contact-modal input, .contact-modal textarea {
    display: block;
    margin: 0 auto; }

.hero-video {
  position: relative;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .hero-video video {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.hero {
  height: 975px;
  text-align: center;
  padding-top: 200px;
  box-sizing: border-box;
  letter-spacing: 10px;
  position: relative; }
  .hero h1 {
    font-family: "Bowlby One", "Arial", cursive;
    font-size: 100px;
    text-shadow: -5px 5px 0px #8d8d8d, -10px 10px 0px #525252; }

.hero-title {
  width: 1037px;
  margin: 0 auto; }

.hero-title-button {
  position: absolute;
  top: 35px;
  right: 25px;
  font-family: "Roboto", "Arial", cursive;
  width: 90px;
  font-size: 12px;
  background-color: #172732a2;
  padding: 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.582); }
  .hero-title-button h4 {
    float: left;
    letter-spacing: 2px;
    padding-left: 10px; }
  .hero-title-button img {
    padding-left: 18px;
    padding-top: 15px;
    float: left;
    opacity: 0.5; }

.main-proyects h3, .main-exercises h3, .main-comments h3 {
  font-family: "Bowlby One", "Arial", cursive;
  font-size: 38px;
  letter-spacing: 4px; }

.main-proyects h2, .main-exercises h2, .main-comments h2 {
  padding-top: 60px;
  padding-bottom: 60px; }

.main-proyects ul, .main-exercises ul {
  margin: 0 auto;
  width: 1450px;
  height: 500px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-top: 60px; }

.main-proyects ul::-webkit-scrollbar, .main-exercises ul::-webkit-scrollbar {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.472); }

.main-proyects ul::-webkit-scrollbar-thumb, .main-exercises ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff; }

.main-proyects a, .main-exercises a {
  margin-left: 66px;
  display: inline-block; }

.main-proyects img, .main-exercises img {
  display: inline-block; }

.main-proyects h3, .main-exercises h3 {
  position: absolute;
  bottom: -3px;
  left: -5px;
  z-index: 1; }

.main-proyects li, .main-exercises li {
  position: relative;
  flex-basis: 700px;
  margin-left: 30px; }

.main-proyects li:hover h3, .main-exercises li:hover h3 {
  color: transparent;
  background-image: url(".././img/colors.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white; }

.main-proyects {
  background-color: #172732; }

.main-exercises {
  background-color: #223D47; }

.main-comments {
  background-color: #425957; }

.comments-list img {
  float: left; }

.comments-list div {
  float: left;
  padding-left: 35px;
  width: 346px; }

.comments-list p {
  font-family: "Roboto", "Arial", cursive;
  margin-top: 30x;
  margin-bottom: 15px;
  font-size: 20px; }

.comments-list h3 {
  margin-top: 0;
  margin-bottom: 0; }

.comments-list ul {
  margin: 0 auto;
  width: 1450px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.main-about {
  background-color: #172732; }
  .main-about h2 {
    padding-top: 60px; }
  .main-about h3 {
    font-size: 38px;
    font-family: "Bowlby One", "Arial", cursive;
    letter-spacing: 4px;
    margin: 0;
    text-align: center; }
  .main-about p {
    font-family: "Roboto", "Arial", cursive;
    font-size: 20px;
    margin: 0;
    padding-top: 76px;
    padding-bottom: 66px; }
  .main-about .about-float {
    padding-top: 160px; }
  .main-about .float-text {
    width: 880px;
    float: left; }
  .main-about .float-pic {
    float: right; }
  .main-about .logos {
    padding-left: 270px;
    display: inline-block; }
  .main-about img {
    display: inline-block; }
  .main-about a {
    display: inline-block; }

.logo-margin {
  padding-left: 100px;
  padding-right: 100px; }

.button-contact {
  margin: 0 auto;
  margin-top: 70px; }
  .button-contact a {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center; }
