.contact-modal{
  background-color: rgba(0, 0, 0, 0.931);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 3;

  a{
    position: fixed;
    top: 50px;
    right: 50px;
  }
  button{
    color: white;
    margin-top: 60px;
  }
  h2{
    padding: 60px;
    padding-bottom: 0;
  }
  input{
    height: 50px;
    width: 800px;
  }
  label{
    font-family: $bowlby;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
  }
  textarea{
    height: 50px;
    width: 800px;
  }
  label, input, textarea{
    display: block;
    margin: 0 auto;
  }
}
