.hero{
  height: 975px;
  text-align: center;
  padding-top: 255px;
  box-sizing: border-box;
  letter-spacing: 10px;

  h1{
    font-family: $bowlby;
    font-size: 100px;
    text-shadow: -5px 5px 0px #8d8d8d, -10px 10px 0px #525252;
  }
}
