.main-proyects, .main-exercises, .main-comments{

  h3{
    font-family: $bowlby;
    font-size: 38px;
    letter-spacing: 4px;
  }
  h2{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.main-proyects, .main-exercises{
  ul{
    margin: 0 auto;
    width: 1450px;
    height: 500px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-top: 60px;
  }
  ul::-webkit-scrollbar {
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.472);
  }
    ul::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #ffffff;
  }

  a{
    margin-left: 66px;
    display: inline-block;
  }
  img{
    display: inline-block;
  }
  h3{
    position: absolute;
    bottom: -3px;
    left: -5px;
    z-index: 1;
  }
  li{
    position: relative;
    flex-basis: 700px;
    margin-left: 30px;
  }
  li:hover{
    h3{
      color: transparent;
      background-image: url(".././img/colors.gif");
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: white;
    }
  }
}

